* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

img {
  width: 350px;
}

.container {
  width: 1000px;
  display: flex;
  margin-top: 30px;
}

.content {
  margin-left: 30px;
}

.content h1 {
  font-size: 30px;
}

.content p {
  margin: 7px 0;
  line-height: 1.4;
}

span {
  color: gray;
}
